<%# <%= link_to team.team_name, team %>

<div id='team-memberships'>
  <ul>
    <% team.athletes.each do |athlete| %>
      <li>
        <%= athlete.name %>
        <%= athlete.points %>
        <%= link_to 'Drop', team_drop_athlete_path(team, athlete), method: :delete %>
      </li>
    <% end %>
    <li>AVERAGE WEELKY POINTS: <%= Average.weekly_points(team).round(2) %></li>
  </ul>
</div>
