<div>
  <p>
Select which expert's rankings you'd like to use:
<p>
  <%= render @rankings %>
<p>
  You currently have <%= @team.athletes.count %> players on <%= @team.team_name %>
<p>
  Remaining budget: <%= Budget.remaining(@team) %>
  <%= render @team %>

  AVAILABLE ATHLETES:
  <%= render @athletes %>

</div>
